<div class="app-container">
  1. Wklej kolumny z danymi z Excela:
  <div>
    <textarea placeholder="DPL1..." rows="50" cols="150" (change)="applyRawValue($event)"></textarea>
  </div>

  <div>
    <label>
      2. Wpisz odległość między odczytami
      <input type="text" [(ngModel)]="dispersion" placeholder="0.1">
    </label>
  </div>

  <div class="button" (click)="generateGrids()">3. Generuj Tabele</div>
  <div class="button" [ngClass]="{ disabled: !gridsGenerated }" (click)="downloadAllCVS()">4. Pobierz CVSy</div>


  <div *ngIf="gridsGenerationStart">
    Generowanie..
    <svg xmlns="http://www.w3.org/2000/svg" width="138" height="38" viewBox="0 0 38 38" stroke="#ccc">
        <g fill="none" fill-rule="evenodd"><g transform="translate(1 1)" stroke-width="2"><circle stroke-opacity=".5" cx="18" cy="18" r="18"/><path d="M36 18c0-9.94-8.06-18-18-18"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/></path></g></g>
    </svg>
  </div>

  <div *ngIf="gridsGenerated" class="margin-above">Proszę sprawdzić czy wszystko gra, potem nacisnąć "Pobierz CVSy"</div>
  <div class="grids-container">
    <span *ngFor="let grid of grids">
      <h3>{{grid.columnDefs[1].field}}</h3>
      <ag-grid-angular
        style="width: 160px; height: 300px;"
        class="ag-theme-balham"
        [gridOptions]="gridsOptions[grid.columnDefs[1].field]"
        [rowData]="grid.rowData"
        [columnDefs]="grid.columnDefs">
      </ag-grid-angular>
    </span>

  </div>
</div>